.MenuList hr {
  border: 0;
  height: 1px;
  background: rgb(159, 159, 159);
  background-image: linear-gradient(to right, rgb(5, 113, 39), rgb(19, 171, 87), rgb(158, 204, 169));
}

.MenuList .btnSide {
  padding: 2px 8px;
}