/*column component */
.column {
  flex: 10 0 auto;
  width: 500px;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 2rem 2rem;
  margin-right: 2rem;
  /* border: 1px solid #efefef;
  border-radius: 10px;
  background-color: #ffffff; */
}

.column {
  border-radius: 10px;
  background: #ffffff;
  box-shadow:  9px 9px 18px #d9d9d9,
  -9px -9px 18px #ffffff;
}