/* column list componenet */

.ColumnListNone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #efefef;
  background-color: #F7F6F3;
}