/*column component */
.column {
  flex: 10 0 auto;
  min-width: 300px;
  max-width: 400px;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 0.2rem 0rem;
  margin-right: 2rem;
  /* border: 1px solid #efefef;
  border-radius: 10px;
  background-color: #ffffff; */
}

.column {
  border-radius: 4px;
  background: #ffffff;

}
.columnHeader {
  display: flex;
  overflow: hidden;
  padding: 10px 0;
}

.columnHeader .svgImg {
  height: 16px;
  fill: orange;
}

.columnTitle {
  padding: 0 1rem;
  width: 94%;
  font-weight: 700;
  font-size: 18px;
}

.columnContent {
  padding: 0 1rem;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "Helvetica","Arial",sans-serif;
  color: #1d1d1f;
  font-style: normal;
}

.columnContent img {
  margin: 20px 0;
  max-width: 100%;
}

.headerMore {
  cursor: pointer;
  width: 6%;
  margin-right: -40px;
}

[contentEditable=true]:empty:before{
  content:attr(data-ph);
  color:#E1E1E0;
}